
//Privacy fix
fieldset#jform_privacyconsent_privacy.radio {
  position: relative;
  padding-left: 0;
}
fieldset#jform_privacyconsent_privacy.radio input[type=radio] {
  margin-left: 0;
  width: auto;
  height: auto;
  display: inline-block;
}
fieldset#jform_privacyconsent_privacy.radio label {
  margin-right: 10px;
  display: block;
}
label#jform_privacyconsent_privacy-lbl a.modal {
  display: inline-block;
  position: static;
}
#member-registration .controls input {  
  margin-bottom: 15px;
}

.chzn-container-single .chzn-single,
select[multiple], select[size],
select, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"]{
    border: 1px solid #bec0c6;
    height: 34px;
    padding: 0 18px;
    font-size: 14px;
    background-color: #fff;
    background-image: none;
    box-sizing: border-box !important;
    transition: border-color ease-in-out .15s;
    outline: 0;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: none;
}
// form contact

.form-contact {
  .control-group {
    margin-bottom: 20px;
    zoom: 1;
    &:before {
      display: table;
      line-height: 0;
      content: "";
    }
    &:after {
      display: table;
      line-height: 0;
      content: "";
      clear: both;
    }
  }
  .control-label {
    @include rtl-float-left();
    width: 160px;
    padding-top: 5px;
    @include rtl-text-align-right();
  }
  .controls {
    display: inline-block;
    @include rtl-padding-left(20px);
    width: calc(100% - 180px);

    input, textarea {
    	display: block;
    	width: 100%;
    }

  }
  .help-block {
    margin-bottom: 0;
  }
  input + .help-block, select + .help-block, textarea + .help-block, .uneditable-input + .help-block, .input-prepend + .help-block, .input-append + .help-block {
    margin-top: 10px;
  }
  .form-actions {
    @include rtl-padding-left(180px);
  }
}
