/*!
 * Sun Framework
 * Copyright 2016 Joomlashine.
 * @file _modules.scss
 */


/* ===============  Module Styles =============== */
.module-title .box-title.fa:before {
  @include rtl-padding-right(5px);
  @include rtl-padding-left(0);
}


/* =============== Breadcrumbs =============== */
.sunfw-breadcrumb {
  padding: 40px 0;
  .breadcrumb {
    background: transparent;
    margin: 0;
    padding: 0;
    > .active {
      color: #FFF;
    }
  }
}

/* =============== Menu Styles =============== */

ul.nav li {
  a,span.nav-header {
    i.fa {
      padding-right: 5px;  
    }
  }
}
.sunfw-direction-rtl ul.nav > li > a i.fa {
  padding-right: 0;
  padding-left: 5px;
}
/* =============== MENU - SIDE MENU =============== */
.menu-sidemenu {
  ul.menu {
    li {
      position: relative;
      a, > span.separator {
        transition: color 0.3s linear, background 0.3s ease-out;
        -moz-transition: color 0.3s linear, background 0.3s ease-out;
        -webkit-transition: color 0.3s linear, background 0.3s ease-out;
      }
      ul {
        position: absolute;
        top: 0;
        z-index: -1;
        width: 200px;
        list-style: none;
        padding: 0;
        background: #FFF;
        border: 1px solid #ccc;
        @include rtl-right(-200px);
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        opacity: 0;
        filter: alpha(opacity=0);
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      }
      &:hover {
        > ul {
          opacity: 100;
          z-index: 10;
          filter: alpha(opacity=100);
          -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
          li {
            a, > span.separator {
              font-size: 12px;
              cursor: pointer;
              display: block;
              -webkit-transition: color 0.3s linear 0s, background 0.3s ease-out 0s;
              -moz-transition: color 0.3s linear 0s, background 0.3s ease-out 0s;
              -ms-transition: color 0.3s linear 0s, background 0.3s ease-out 0s;
              -o-transition: color 0.3s linear 0s, background 0.3s ease-out 0s;
              transition: color 0.3s linear 0s, background 0.3s ease-out 0s;
              &:hover {
                color: #FFF;
              }
            }
          }
        }
      }
    }
  }
  &.layout-right {
    ul.menu li ul {
      @include rtl-right(auto);
      @include rtl-left(-200px);
    }
  }
}

//
// Front end edit
// --------------------------------------------------\
.item-page {
  &.edit {
    #com-content-formTabs {
      margin-bottom: 35px;
      > li {
        > a {
          padding: 7px 20px;
          border-radius: 0;
          background: #E7EAEE;
          border-width: 2px 0 0;
          border-style: solid;
          border-color: #d1d5de;
          color: #394a5c;
        }
        &.active {
          > a {
            background: #fff;
            border-width: 2px 1px 0;
          }
        }
      }
    }
    #editor {
      > .control-group {
        .control-label {
          width: 10%;
        }
      }
    }
    .control-group {
      display: flex;
      align-content: center;
      align-items: center;
      margin: 0 0 20px;
      label {
        @include rtl-margin-right(10px);
      }
    }
    .js-editor-tinymce {
      .mce-edit-area {
        border-width: 1px 1px 0 0 !important;
        border-color: #d5d6d8;
      }
      .mce-panel {
        border-color: #d5d6d8;
        background-color: #f8f8f8;
      }
    }
    .sunfw-media-selector {
      .btn {
        padding: 7px 15px;
        vertical-align: top;
        line-height: 1.4;
      }
    }
    #attrib-sunfw-options {
      margin-bottom: 60px;
      &:after{
        content: '';
        display: table;
        clear: both;
      }
    }
    #com-content-formContent #images,
    #publishing {
      margin-bottom: 80px;
      .control-label {
        flex: 0 0 15%;
      }
      .chzn-container-multi .chzn-choices {
        border-color: #d5d6d8;
        background: transparent;
      }
      button.btn {
        padding: 6px 15px;
        vertical-align: top;
        line-height: 1.4;
        position: absolute;
        top: 0;
        @include rtl-right(0);
      }
      .input-append{
        position: relative;
        .media-preview.add-on {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
        .btn.modal{
          background: #fff;
          height: 32px;
          line-height: 32px;
          position: absolute;
          top: 1px;
          right: 31px;
          left: auto;
          border-width: 0px 1px;
          border-style: solid;
          border-color: #D1D6DE;
          display: block;
          padding: 0 10px;
        }
      }
      .btn.hasTooltip{
        position: absolute;
        top: 1px;
        @include rtl-right(1px);
        padding: 5px 10px;
        background: #fff;
      }
    }
    #metadata {
      margin-bottom: 80px;
      .control-label {
        flex: 0 0 15%;
      }
    }
    #language {
      margin-bottom: 80px;
      .control-group {
        margin-bottom: 10px;
      }
    }
    .chzn-container-multi .chzn-choices,
    select:not(.time), 
    textarea, 
    input[type="text"], 
    input[type="password"], 
    input[type="datetime"], 
    input[type="datetime-local"], 
    input[type="date"], 
    input[type="month"], 
    input[type="time"], 
    input[type="week"], 
    input[type="number"], 
    input[type="email"], 
    input[type="url"], 
    input[type="search"], 
    input[type="tel"], 
    input[type="color"],
    .chzn-container-single .chzn-single {
      min-width: 355px;
    }
    .chzn-container-single .chzn-search input[type="text"] {
      min-width: 100%;
    }
    .calendar-container table {
      max-width: 355px;
    }
    button.btn:not(.btn-primary) {
      background: #717f8e;
      color: #fff;
      padding: 9.5px 25px;
    }
    form#adminForm {
      position: relative;
      .toggle-editor .btn {
        border: 1px solid #d1d6de;
        margin: 30px 0 0;
      }
      > .btn-toolbar {
        position: absolute;
        bottom: 0;
      }
    }
  }
  .j2store-product-edit-form {
    background: transparent;
    padding: 0 0 50px;
    .panel {
      border-radius: 0;
      box-shadow: none;
    }
    > hr {
      display: none;
    }
  }
  #editor-xtd-buttons {
    margin: 0 -15px 60px;
    a.btn {
      padding: 15px 10px;
    }
  }
}
.sunfw-com-config {
  #modules-form{
    textarea,
    select:not(.time),
    input[type="text"],
    a.chzn-single,
    .chzn-container{
      min-width: 300px;

    }
    .btn-toolbar{
      button.btn:not(.btn-primary){
        border: 1px solid rgb(209, 214, 222);
        padding: 10px 25px;
      }
    }
    #options{
      .input-append{
        .btn{
          padding: 7px 15px;
          border: 1px solid #D1D6DE;
          margin-bottom: -13px;
          display: inline-block;
          position: relative;
        }
      }
    }
    .accordion-heading{
      font-size: 19px;
      padding: 15px 0px 20px;
      border-bottom: 1px solid #eeeeee;
    }
    .chzn-container-single .chzn-single abbr{
      top: 15px;
      background: #fff;
      font-size: 24px;
      &:before{
        font-family: FontAwesome;
        content: '\f2d3';
        width: 20px;
        height: 33px;
        display: block;
        color: #333;
        position: absolute;
        top: -15px;
        right: 5px;
      }
    }

    .field-calendar{
      button.btn{
        padding: 5px 17px;
      }
    }
    .chzn-search input{
      width: 100%;
      min-width: auto;
    }
    .form-horizontal .control-label{
      text-align: left;
    }
    .radio{
      label{
        @include rtl-padding-left(0px);
        @include rtl-margin-right(40px);

      }
      input[type="radio"]{
        position: inherit;
        @include rtl-margin-left(0);
        @include rtl-margin-right(5px);
      }
    } 
    hr{
      margin-top: 30px;
      margin-bottom: 30px;
    }
    fieldset.form-horizontal{
      .control-group{
        display: flex;
        margin: 10px 0px;
      }
      .control-label{
        min-width: 200px;
        label{
          font-weight: bold;
        }
      }
    }
    .field-calendar{
      > .input-append {
        position: relative;
        button.btn{
          position: absolute;
          top: 1px;
          @include rtl-right(1px);
          padding: 9px;
          border-radius: 0;
          border: none;
          background: transparent;
        }
      }
    }
    @media(max-width: 767px){
      button.btn-primary{
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 15px;
      }
      textarea,
      select,
      input[type="text"],
      a.chzn-single{
        min-width: auto;
        width: 100%;
      }
      fieldset.form-horizontal{
        .control-group{
          flex-direction: column;
        }
      }
    }
    #custom{
      .js-editor-tinymce{
        .mce-edit-area{
          border-width: 1px 1px 0 0!important;
        }
      }
    }
  }
}

// ---------------------Position Sticky-----------------------------\

div[class*=sunfw-pos-stick-] {
  position: fixed;
  z-index: 8888;
}

.sunfw-pos-stick-lefttop {
  @include rtl-left(0);
}

.sunfw-pos-stick-righttop {
  @include rtl-right(0);
}

.sunfw-pos-stick-leftmiddle {
  @include rtl-left(0);
  top: 50%;
  transform: translateY(-50%);

}

.sunfw-pos-stick-rightmiddle {
  @include rtl-right(0);
  top: 50%;
  transform: translateY(-50%);

}

.sunfw-pos-stick-leftbottom {
  @include rtl-left(0);
  bottom: 0
}

.sunfw-pos-stick-rightbottom {
  @include rtl-right(0);
  bottom: 0;
}
